{% extends 'dashboard/layout.html' %}
{% load crispy_forms_tags %}
{% block more_styles %}
<link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet">
{% endblock %}
{% block container %}
<div class="">
  <div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
      <h3>Asistencia</h3>      
    </div>
    <div class="card-body">
      <table class="table" id="example">
        <thead>
          <tr>
            <th>DNI</th>
            <th>Nombres</th>
            <th>Apoderado</th>
            <th>Salon</th>
            <th>Dejado a las</th>
            <th>Recogido a las</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for p in attedances_details %}
          <tr>
            <td>{{p.child.dni|default:''}}</td>
            <td>{{p.child.name}}</td>
            <td>{{p.attendance.parent_a.name}} ( <span>{{p.attendance.parent_a.cellphone|default:''}}</span> )</td>
            <td>{{p.space.name}}</td>
            <td>{{p.start_at|default:''}}</td>
            <td>{{p.end_at|default:''}}</td>
            <td id="ac_{{p.id}}">
              {% if not p.received %}
              <button id="acb_{{p.id}}" class="btn btn-secondary" onclick="receive({{p.id}})">recibir</button>
              {% endif %}
            <td id="ad_{{p.id}}">
              {% if not p.released %}
                <button id="adb_{{p.id}}" class="btn btn-secondary" onclick="release({{p.id}})">liberar</button>
              {% endif %}
            </td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block more_scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script>
  function release(attendanceId) {
    $(`#adb_${attendanceId}`).text('...');
    fetch(`/dashboard/attendance/release/${attendanceId}/`).then(() => {
      $(`#ad_${attendanceId}`).html('');
    })
  }
  function receive(attendanceId) {
    $(`#acb_${attendanceId}`).text('...');
    fetch(`/dashboard/attendance/receive/${attendanceId}/`).then(() => {
      $(`#ac_${attendanceId}`).html('');
    })
  }
  $(document).ready(function () {
    $('#example').DataTable({
      order: [],
      columnDefs: [
        { targets: 'no-sort', orderable: false }
      ],
      language: {
        url: '//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json'
      }
    });
    $('#space_id').change(() => {
      const space_id = $('#space_id').val()
      window.location = `{% url 'dashboard:attendance_in_spaces' %}?space_id=${space_id}`;
    })
  });
</script>
{% endblock %}