{% extends 'dashboard/layout.html' %}
{% block container %}
<div id="app">
  <div class="d-flex justify-content-between">
    <h2>Asistencia - Salida de Niños</h2>
    <a href="{% url 'dashboard:attendance_checkout' %}" class="btn btn-primary">Regresar</a>
  </div>
  <br>
  <hr>

  <form method="post" action=".?{{ids_str|safe}}">
    {% csrf_token %}
    <input type="hidden" name="code" value="{{code}}">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Salon</th>
          <th>Dejado a las</th>
          <th>Recogido a las</th>
        </tr>
      </thead>
      <tbody>
        {% for d in details %}
        <tr>
          <td>
            <input type="checkbox" class="custom-control-input" value="{{d.id}}" name="children[]" {% if d.end_at%}
              checked="checked" disabled {% endif %}>
          </td>
          <td>
            {% if d.end_at %}<del>{% endif %}
              {{ d.child.name }}
              {% if d.end_at %}</del>{% endif %}
          </td>
          <td>{{ d.space.name }}</td>
          <td>{{ d.start_at }}</td>
          <td>{{ d.end_at|default:'' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button class="btn btn-primary d-none" id="submit" type="submit">Marcar Salida</button>
  </form>
</div>
<script>
  window.onload = function () {
    const inputs = document.getElementsByName('children[]');
    for (const i of inputs) {
      if (!i.getAttribute('checked')) {
        document.getElementById('submit').classList.remove('d-none');
      }
    }
  }
</script>
{% endblock %}