{% extends 'dashboard/layout.html' %}
{% block container %}
<div class="">
  <div class="card mb-3">
    <div class="card-header">
      <h3>Don/Doña</h3>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Celular</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>788124</td>
            <td>Solansh Montoya Monroy</td>
            <td>124124412</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      <h3>Crios</h3>
    </div>
    <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>DNI</th>
              <th>Nombre</th>
              <th>Parentesco</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>788124</td>
              <td>Solansh Montoya Monroy</td>
              <td>Hijo/a</td>
            </tr>
            <tr>
              <td>788124</td>
              <td>Solansh Montoya Monroy</td>
              <td>Hijo/a</td>
            </tr>
            <tr>
              <td>788124</td>
              <td>Solansh Montoya Monroy</td>
              <td>Hijo/a</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}