{% extends 'dashboard/layout.html' %}
{% block more_styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/solid.min.css">
<link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css">
{% endblock %}
{% block container %}
<div id="app" class="d-none">
  <div class="card mb-3">
    <div class="card-header">
      <h3>Deja en guarderia Don/Doña</h3>
    </div>
    <div class="card-body">

      <div v-if="!parent.name">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">DNI</label>
          <input 
            type="text" 
            class="form-control" 
            placeholder="ingrese nro de dni" 
            aria-label="nro de dni" 
            aria-describedby="button-addon2"            
            v-model='parent.dni'
            v-on:keyup.enter='searchPerson()'
          >
          <button 
            class="btn btn-outline-secondary" 
            type="button" 
            id="button-addon2"
            v-on:click="searchPerson()"
            :disabled="parent.searching"
          >
            Buscar
            <i class="fas fa-circle-notch fa-spin" v-if="parent.searching"></i>
          </button>
        </div>
      </div>
      <div v-if="!parent.searching && parent.name">
        <table class="table">
          <thead>
            <tr>
              <th>DNI</th>
              <th>Nombre</th>
              <th>Celular</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>${parent.dni}</td>
              <td>${parent.name}</td>
              <td>
                ${_.isEmpty(parent.cellphone) ? 'Sin numero' : parent.cellphone }            
              </td>          
              <td> 
                <button 
                  type="button" 
                  class="btn btn-outline-danger"
                  title="quitar persona"
                  v-on:click="cleanPerson"
                >
                  <i class="fas fa-times"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      <h3>Crios</h3>
    </div>
    <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>DNI</th>
              <th>Nombre</th>
              <th>Edad</th>
              <th>Parentesco</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(child, index) in children" :key="child.id" id="child.id">
              <td>
                <input type="checkbox" class="custom-control-input" v-model="child.checked">
              </td>
              <td>${child.dni}</td>
              <td>${child.name} ${child.lastName}</td>
              <td>${child.dateOfBirth ? getAge(child.dateOfBirth) : '-'}</td>
              <td>${child.relationship}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <hr>
  
  <div id="crios">
    <div style="width: 400px;" v-for="(child, index) in filterChecked()" :key="child.id" id="child.id">
      <div class="card">
        <div class="d-flex text-center">
          <div class="w-100">
            <h3>${child.name}</h3>
            <h4>${child.lastName}</h4>
            <hr>
            <p>TODO</p>
            <hr>
            <p>Fecha Hora: 10/10/2010 10:10 am</p>
          </div>
          <div style="width: 60px" class="mr-2 px-3">
            <h1 class="display-5">${code}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="text-center mb-5">
    <button class="btn btn-primary btn-lg" v-on:click="saveAndPrint">Guardar e Imprimir</button>
  </div>  
</div>
{% endblock %}
{% block more_scripts %}
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/core.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
  document.onreadystatechange = () => {
    if (document.readyState == "complete") {
      document.getElementById('app')?.classList.remove('d-none');
    }
  }

  var app = new Vue({
    el: '#app',
    data: function () {
      return {
        parent: {
          searching: false,          
          dni: null
        },
        children: [],
        childrenLoading: false,
        code: '',
      }
    },
    watch:{
      code(newVal, oldVal) {
        if(newVal!=='') {          
          this.printYeah();
        }
      }
    },
    methods: {
      filterChecked: function() {
        return this.children ? this.children.filter(f => f.checked) : [];
      },
      printYeah: async function() {
        setTimeout(() => {        
          printJS({
            printable: 'crios', 
            type: 'html',
            css: 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css',
          });
        }, 2000);
      },
      isValidDni: function(dni) {
        if(_.isEmpty(dni)) {
          alert('dni invalido')
          return false;
        }
        if(dni.length !== 8) {
          alert('dni invalido')
          return false;
        }
        return true;
      },
      fetchChildren: function () {
        this.childrenLoading = true;
        fetch(`/dashboard/get-children/${this.parent.dni}/`).then( async(r) => {
            if(r.status === 200) {
              const { data } = await r.json();
              this.children = data;
              this.children = this.children.map(c => {
                const fullName = c.name.split(' ');
                let name = c.name;
                let lastName = '';
                if(fullName.length > 1) {
                  name = `${fullName[0]} ${fullName[1]}`;
                }
                if(fullName.length > 2) {
                  lastName = c.name.substring(name.length).trim(); 
                }
                return ({...c, name, lastName, checked: true})
              });
            } else {
              alert('Error en el servidor');
            }
            this.childrenLoading = false;
        });
      },
      searchPerson: function () {
        this.parent.searching = true;
        if(this.isValidDni(this.parent.dni)) {
          fetch(`/dashboard/get-person/${this.parent.dni}/?commit=true`).then( async(r) => {
            if(r.status === 200) {
              const {name, cellphone, id} = await r.json()
              this.parent.name = name;
              this.parent.cellphone = cellphone;
              this.parent.id = id;
              this.fetchChildren();
            } else {
              alert('Persona no encontrada');
            }
            this.parent.searching = false;
          });
        } else {
          this.parent.searching = false;
        }
      },
      cleanPerson: function() {
        this.parent = {dni:null, searching: false};
        this.children = [];
      },
      saveAndPrint: function() {
        const csrftoken = Cookies.get('csrftoken');
        const data = {
          parent: this.parent.id,
          children: this.children.filter(c => c.checked).map(c => c.id)
        }

        fetch('/dashboard/attendance/create/', {
          method: 'POST',
          credentials: 'same-origin',
          headers: {
            "X-CSRFToken": csrftoken,
            "Accept": "application/json",
            'Content-Type': 'application/json'
          },
          redirect: 'follow', // manual, *follow, error
          referrerPolicy: 'no-referrer',
          body: JSON.stringify(data)
        }).then(async(r) => {
          const { attendanceId } = await r.json();
          const attendanceIdStr = `${attendanceId}`;
          if (attendanceIdStr.length > 4) {
            this.code = attendanceIdStr
          } else {
            const code = '0000';
            this.code = code.substr(0 , code.length - attendanceIdStr.length ) + attendanceIdStr;
          }
        });
      },
      getAge: function(dateString) {
          var today = new Date();
          var birthDate = new Date(dateString);
          var age = today.getFullYear() - birthDate.getFullYear();
          var m = today.getMonth() - birthDate.getMonth();
          if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) 
          {
            age--;
          }
          return age;
      }
    },
    delimiters: ['${', '}']
  })
</script>

{% endblock %}