<div>
  <h2>¡Bienvenido a casa! </h2>
  <h3 class="card-title">Hola, estamos tan felices de que puedas traer a tus niños a Comu Junior. </h3>
  <div class="card-text d-flex justify-content-between small">
    <h2>Te dejamos este código para que puedas recogerlos</h2> 
    <br>
    <img src='https://chart.googleapis.com/chart?cht=qr&chl={{code}}&chs=180x180&choe=UTF-8&chld=L|2' alt='qr code cargando...'>
    <br>
    y recuerda que lo más importante es su seguridad.
    <p>
      Con este correo estás aceptando lo términos y condiciones para el uso del servicio de Comu Junior, lee los
      términos en el adjunto.
      presenta el código en la clase de tus niños para que puedas recogerlos.
    </p>
  </div>
  <br>
  Terminos y condiciones de uso en el sgt enlace: 
  <a href="https://boilerplate-django-heroku.s3.amazonaws.com/web/doc/terminos.pdf">
    https://boilerplate-django-heroku.s3.amazonaws.com/web/doc/terminos.pdf
  </a>
</div>