<div>
    <h5>Gracias por visitar la comunidad</h5>
    <h1 class="card-title">Codigo de liberacion</h1>
    <div class="card-text d-flex justify-content-between small">
      <span>Para recoger a los niños/as porfavor presente el siguiente codigo</span>
      <span>{{ code }}</span>
    </div>
    <!--
    <div class="card-text">Lugar: La comunidad, Calle Peral 609, Arequipa</div>
    <div class="card-text">Espacio: {{meet.room.name}}</div>
    <br>
    <div>Presente este codigo en la porteria para que pueda ingresar:</div>        
    <img src='https://chart.googleapis.com/chart?cht=qr&chl={{ticket_id}}&chs=180x180&choe=UTF-8&chld=L|2' alt='qr code cargando...'>
    -->
  </div>