{% extends 'registration/layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title%}{% translate 'Password reset' %}{% endblock %}
{% block container %}
<main class="form-signin">
  <img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
  <h1 class="h3 mb-3 fw-normal">&rsaquo; {% translate 'Password reset' %}</h1>
  <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
  <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
</main>
{% endblock %}