{% extends 'registration/layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title%}{% translate 'Password reset confirmation' %}{% endblock %}
{% block container %}
<main class="form-signin">
  <img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
  <h1 class="h3 mb-3 fw-normal">&rsaquo; {% translate 'Password reset confirmation' %}</h1>
  {% if validlink %}
    <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    <form method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-floating">
        <input type="password" name="new_password1" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
        <label for="floatingInput">{% translate 'New password:' %}</label>
        {{ form.new_password1.errors }}
      </div>
      <div class="form-floating">
        <input type="password" name="new_password2" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
        <label for="floatingInput">{% translate 'Confirm password:' %}</label>
        {{ form.new_password2.errors }}
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">{% translate 'Change my password' %}</button>    
    </form>
  {% else %}
    <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
  {% endif %}
</main>


{% endblock %}