{% extends 'registration/layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block container %}
<main class="form-signin">
  <img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
  <h1 class="h3 mb-3 fw-normal">&rsaquo; {% translate 'Password reset' %}</h1>
  <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
  <p><a href="{{ login_url }}">{% translate 'Log in' %}</a></p>
</main>


{% endblock %}